<mat-toolbar>
  <div class="toolbar-content">
    <!-- Menu Toggle -->
   

    <!-- Logo and Company Name -->
    <div class="brand">
      <img src="logoSita.jpg" alt="SITA Logo" class="logo">
      <span class="company-name">SITA</span>
    </div>

    <!-- Navigation Menu -->
    <nav class="nav-menu">
      @for (item of navItems; track item.name) {
        <button mat-button [class.active]="activeItem === item.name" (click)="onNavItemClick(item)">
          <span>{{ item.name }}</span>
        </button>
      }
    </nav>

    <!-- User Menu -->
    <div class="user-menu">
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item routerLink="/login">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
