<div class="app-container">
  <app-header *ngIf="!isLoginPage" (sidebarToggled)="toggleSidebar()" (navItemSelected)="onNavItemSelected($event)"></app-header>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen" class="app-sidenav">
      <ng-container *ngIf="selectedNavItem">
        <div class="nav-section">
          <div class="nav-section-header">
            <mat-icon>{{ getNavIcon(selectedNavItem.name) }}</mat-icon>
            <span>{{ selectedNavItem.name }}</span>
          </div>
          <ng-container *ngIf="selectedNavItem.subItems?.length">
            <mat-nav-list>
              <a mat-list-item *ngFor="let subItem of selectedNavItem.subItems; trackBy: trackByName" 
                 [routerLink]="subItem.route" 
                 [class.active]="currentRoute === subItem.route">
                <span class="nav-item-text">{{ subItem.name }}</span>
              </a>
            </mat-nav-list>
          </ng-container>
        </div>
      </ng-container>
    </mat-sidenav>
    
    <mat-sidenav-content [class.with-sidenav]="isSidebarOpen">
      <div class="main-content" [class.no-header]="isLoginPage">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>