<div class="app-container" [class.no-header]="isLoginPage">
  <app-header *ngIf="!isLoginPage" (sidebarToggled)="toggleSidebar()"></app-header>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen && !isLoginPage">
      <nav class="nav-section">
        <mat-nav-list>
          <a mat-list-item routerLink="/home" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            <span class="nav-item-text">Home</span>
          </a>
          <a mat-list-item routerLink="/empds" routerLinkActive="active">
            <mat-icon>group</mat-icon>
            <span class="nav-item-text">EMPDS</span>
          </a>
        </mat-nav-list>
      </nav>
    </mat-sidenav>
    
    <mat-sidenav-content [class.with-sidenav]="isSidebarOpen">
      <main>
        <div class="main-content" [class.no-header]="isLoginPage">
          <router-outlet></router-outlet>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>