<div class="app-container" [class.no-header]="isLoginPage">
  <app-header *ngIf="!isLoginPage" (sidebarToggled)="toggleSidebar()"></app-header>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen && !isLoginPage">
      <nav class="nav-section">
        <div class="feature-header" *ngIf="currentFeature">
          <mat-icon>{{getFeatureIcon(currentFeature)}}</mat-icon>
          <h2>{{currentFeature}}</h2>
        </div>
        <mat-nav-list>
          <ng-container *ngFor="let item of currentNavItems; trackBy: trackItem">
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active">
              <mat-icon>chevron_right</mat-icon>
              <span class="nav-item-text">{{item.name}}</span>
            </a>
          </ng-container>
        </mat-nav-list>
      </nav>
    </mat-sidenav>
    
    <mat-sidenav-content [class.with-sidenav]="isSidebarOpen">
      <main>
        <div class="main-content" [class.no-header]="isLoginPage">
          <router-outlet></router-outlet>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>